@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: 'General Sans', sans-serif;
}

body {
    background-color: #F4F2EE;
}

.Background-Size {
    background-size: cover;
    background-repeat: no-repeat;
}

.changeProfile div:last-child {
    display: none;
}

.changeProfile:hover {
    div:last-child {
        display: flex;
    }
}